$colorPortsSkyBlue: #009BDE;
$colorPortsSkyBlueDarker: #0072A3;
$colorPortsSkyBlueLighter: #C2EDFF;

$colorPortsSeaBlue: #002E6D;
$colorPortsSeaBlueLighter: #C5E0F2;
$colorPortsHorizonBlue: #9ACAEB;

$colorPortsAquaGreen: #54BBAB;
$colorPortsAquaGreenDarker: #348377;
$colorPortsAquaGreenLighter: #D3EEEA;

$colorPortsSunrayYellow: #FFC627;
$colorPortsSunrayYellowDarker: #A37800;
$colorPortsSunrayYellowLighter: #FFEFC2;

$colorPortsSunsetOrange: #EE7523;
$colorPortsSunsetOrangeDarker: #AB4C0D;
$colorPortsSunsetOrangeLighter: #FBDBC6;

$colorAlertRed: #DB4D59;
$colorAlertRedLighter: #F5CCD0;

$colorPrimaryGrey: #CCCCCC;
$colorPrimaryGreyDarker: #777777;
$colorPrimaryGreyDoubleDarker: #222222;
